/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 5);
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }


  body {
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.808);
  }

header {
    display: flex;
}


  div {
    border: 1px solid black;
    height: 100px;
    width: 33.3333%;
}


.header-container {
    display: flex;
    justify-content: center;
}

.container-element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(180, 100, 80);
    min-width: 100%;
    padding: 1rem;
}







.font-icon-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 50px;
}


  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  


