/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }


  body {
    height: 100%;

    background-color: rgba(255, 255, 255, 0.808);
  }

nav {
    display: flex;
    min-width: 100%;
    flex-direction: row;
}


  div {
    border: 1px solid black;
    height: 100px;
    width: 33.3333%;
}


.header-container {
    display: flex;
    justify-content: center;
}

.container-element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(180, 100, 80);
    min-width: 100%;
    padding: 1rem;
}







.font-icon-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 50px;
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}




.featured-section {
  display: flex;
  min-width: 100%;
  background-color: rgba(76,182,55,0.8);
  min-height: 80vh;

  
}

.featured-wrap {
  display: flex;
  min-width: 50%;
  height: inherit;
padding: 1rem;
  justify-content: center;
  align-items: center;



  text-align: left;
}



.featured-text {
  flex-direction: column;
  padding: 1rem 1rem 1rem 2.5rem;
  
}

.text-wrap {
  min-width: fit-content;
  min-height: 30%;
  font-size: 1.3rem;
  text-align: center;
}


.btn-wrap {
  min-width: fit-content;
}




.home-img-container {
  min-width: 50%;
}


.home-img-container > img {
  min-width: 100%;
}
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  


